#picture__input{
    display: none;
}

.picture{
    border: 2px dashed #aaa;
    width: 8em;
    height: 8em;
    background-color: #eee;
    display: block;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}

.picture:hover{
    background-color: #ddd;
}

.picture__img{
    max-width: 100%;
}

